section#Subscribe_to_PaperHive.fullsize
  .fullsize-image
    img.img-responsive(src="http://paperhive.daniel-pfisterer.de/img/fiber.jpg")
  .fullsize-bg
  .fullsize-content
    .fullsize-content-inner
      .container
        .row
          .col-sm-12.text-center
            h2.title-main Sign up and be the first to get notified when we launch!
              span.title-border
          .col-sm-6.col-sm-offset-3
            p.margin-middle-bottom Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary re
            form#signup-form.form-horizontal
              .form-group
                label.sr-only(for="name") Name
                input#name.form-control(type="text" placeholder="Name")
              .form-group
                label.sr-only(for="email") E-Mail
                input#email.form-control(type="email" placeholder="E-Mail")
              .form-group.margin-middle-bottom.text-center
                .checkbox
                  label
                    input(type="checkbox") 
                    | Be Part of the beta?
              .form-group
                .col-sm-12.text-center
                  button.btn.btn-submit(type="submit") Subscribe now
              
                  
