section#About_PaperHive.fullsize
  .fullsize-image
    img.img-responsive(src="http://paperhive.daniel-pfisterer.de/img/bg-01.jpg")
  .fullsize-bg
  .fullsize-content
    .fullsize-content-inner
      .container
        .row
          .col-sm-12.text-center
            h1.title-main Enabling online in-document article discussions
              span.title-border
        .row.text-center
          .col-sm-4
            .teaser
              .teaser-circle
                i.fa.fa-comments-o
              .teaser-text
                h3 Discuss and improve
                p Share your expert opinion with other researchers in real time. Increase your work's visibility by adding helpful references on PaperHive.
          .col-sm-4
            .teaser
              .teaser-circle
                i.fa.fa-lightbulb-o
              .teaser-text
                h3 Learn and help out
                p Unclear parts in articles? Have your questions quickly answered by experts. Found a mistake? Post it on PaperHive and protect colleagues against repeating it.
          .col-sm-4
            .teaser
              .teaser-circle
                i.fa.fa-paperclip
              .teaser-text
                h3 Annotate and discover
                p Comments and discussions often refer to a specific section of an article. Add your comments right where they belong. You'll immediately find what you're looking for.
  .fullsize-arrow
    a(data-toggle="ankernav" href="#Subscribe_to_PaperHive")
      i.glyphicon.glyphicon-menu-down
