section#About_PaperHive.fullsize(data-spy="scroller" data-set="slider" data-scroller-style="opacity" data-scroller-end="0" data-scroller-start="1" data-scroller-reverse="1" data-scroller-faktor="1" data-trigger-start="#About_PaperHive" data-trigger-end="#Subscribe_to_PaperHive")
  .fullsize-image
    img.img-responsive(src="http://paperhive.daniel-pfisterer.de/img/bg-01.jpg")
  .fullsize-bg
  .fullsize-content
    .fullsize-content-inner
      .container
        .row
          .col-sm-12.text-center
            h2.title-main Enabling online in-document article discussions
              span.title-border
        .row.text-center
          .col-sm-12
            #teaser-carousel.carousel.slide(data-ride="carousel")
              ol.carousel-indicators
                li.active(data-target="#teaser-carousel" data-slide-to="0")
                li(data-target="#teaser-carousel" data-slide-to="1")
                li(data-target="#teaser-carousel" data-slide-to="2")
              .carousel-inner(role="listbox")
                .item.active
                  .row
                    .col-sm-6.col-sm-offset-3
                      .teaser
                        .teaser-circle
                          i.fa.fa-comments-o
                        .teaser-text
                          h3 Discuss and improve
                          p Share your expert opinion with other researchers in real time. Increase your work's visibility by adding helpful references on PaperHive.
                .item
                  .row
                    .col-sm-6.col-sm-offset-3
                      .teaser
                        .teaser-circle
                          i.fa.fa-lightbulb-o
                        .teaser-text
                          h3 Learn and help out
                          p Unclear parts in articles? Have your questions quickly answered by experts. Found a mistake? Post it on PaperHive and protect colleagues against repeating it.
                .item
                  .row
                    .col-sm-6.col-sm-offset-3
                      .teaser
                        .teaser-circle
                          i.fa.fa-paperclip
                        .teaser-text
                          h3 Annotate and discover
                          p Comments and discussions often refer to a specific section of an article. Add your comments right where they belong. You'll immediately find what you're looking for.
              a.left.carousel-control(href="#teaser-carousel" role="button" data-slide="prev")
                span.glyphicon.glyphicon-menu-left(aria-hidden="true")
                span.sr-only Previous
              a.right.carousel-control(href="#teaser-carousel" role="button" data-slide="next")
                span.glyphicon.glyphicon-menu-right(aria-hidden="true")
                span.sr-only Next
  .fullsize-arrow
    a(data-toggle="ankernav" href="#Subscribe_to_PaperHive")
      i.glyphicon.glyphicon-menu-down
