section#Subscribe_to_PaperHive.fullsize
  .fullsize-image
    img.img-responsive(src="http://paperhive.daniel-pfisterer.de/img/fiber.jpg")
  .fullsize-bg
  .fullsize-content
    .fullsize-content-inner
      .container
        .row
          .col-sm-12.text-center
            h2.title-main Sign up and be the first to get notified when we launch!
              span.title-border
