//- test.jade
extends ../Layouts/Default.jade

block Vars
  - var sub = false
  - var page = {title: 'Page Title', name: 'Start', url: '/', parent: '', index: true}

block main
  include ../Partials/PageParts/Main/section-start.jade
  include ../Partials/PageParts/Main/section-about.jade
  include ../Partials/PageParts/Main/section-subscribe.jade
