// START - <footer>
footer
  .container-fluid
    .row
      .col-xs-6
        p.small © 2014–2015 André Gaul, Nico Schlömer
      .col-xs-6.text-right
        a.small(role="button" data-toggle="collapse" href="#legal_notice" aria-expanded="false" aria-controls="legal_notice") Legal notice
      #legal_notice.col-sm-12.collapse
        .text-center.margin-middle-top.margin-middle-bottom
          h3 Website operators
          p In compliance with the German law 
            a(href="http://www.gesetze-im-internet.de/tmg/__5.html" title="TMG § 5") TMG § 5 
            | , this page (Impressum) gives information about the operators of this website.
        
