.teaser {
  &-circle {
    border-radius: 1000px;
    border: 2px solid #fff;
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: rgba(255,255,255,.4);
    font-size: 80px;
    line-height: 150px;
    color: @color-blue;
    text-shadow: 3px 1px 3px rgba(0,0,0,.4);
  }
  &-text {
  }
}
